<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs246.ironmanapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            HttpClient client = new DefaultHttpClient();
            HttpPost post = new HttpPost("https://www.robbise.no-ip.info");
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEntry" android:theme ="@style/AppTheme.addTheme">
        </activity>
        <activity android:name=".Rank" android:theme ="@style/AppTheme.addTheme"></activity>

        <activity android:name=".EntryHistory" android:theme ="@style/AppTheme.addTheme"></activity>

        <activity android:name=".UserName" android:theme ="@style/AppTheme.addTheme"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
